---
import Layout from "@/layouts/Layout.astro";
import { changeLanguage } from "i18next";
import MyResume from "@/components/MyResume.astro";

changeLanguage("en");
---

<Layout title="Resume">
    <div class="mt-[5rem] w-full">
        <MyResume />
    </div>
</Layout>
