---
import Layout from "@/layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title="Resume">
    <div class="grid h-screen w-full place-content-center">
        <p id="message" class="p-2 text-red-600"></p>
        <button id="pdf" class="mt-navbar bg-pink-600 p-10 text-white">download pdf</button>
    </div>
    <script>
        document.getElementById('pdf')!.addEventListener('click', async () => {
            const data = await fetch('/api/pdf')
                .then((response) => {
                    if (!response.ok) {
                        throw response;
                    }
                    return response.blob();
                })
                .then((blob) => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'resume_en.pdf';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(async (err) => {
                    console.log({ data: await err.json() });
                    document.getElementById('message')!.textContent = JSON.stringify(errors);
                });
            console.log({ data: data });
        });
    </script>
</Layout>
