---
import { ContactForm, DecTag } from '@nilswg-site/ui';
import { getI18nObjects, getI18nText } from '@nilswg/i18n';
import { t } from 'i18next';
import SectionTexts from '@/components/SectionTexts.astro';
import VerticalFrame from '@/components/VerticalFrame.astro';

const fields = {
    name: getI18nText(t, 'home:contact.fields.name'),
    email: getI18nText(t, 'home:contact.fields.email'),
    topic: getI18nText(t, 'home:contact.fields.topic'),
    message: getI18nText(t, 'home:contact.fields.message'),
    send: t('home:contact.send', { defaultValue: 'SEND' }),
    select: {
        choose: getI18nText(t, 'home:contact.topics.choose'),
        options: getI18nObjects<{ id: string; text: string }>(t, 'home:contact.topics.options'),
    },
};

const fontStyles = getI18nText(t, 'common:fontStyles');
const errorDict = t('common:errorDict', { returnObjects: true }) as Record<string, string>;
---

<section id="contact" class="bg-myblack py-navbar w-full">
    <VerticalFrame>
        <SectionTexts
            i18nKeys={{
                title: 'home:contact.title',
                texts: 'home:contact.texts',
            }}
        />
        <DecTag className="ml-6">{'<form>'}</DecTag>
    </VerticalFrame>
    <ContactForm fields={fields} fontStyles={fontStyles} errorDict={errorDict} client:load />
    <VerticalFrame>
        <DecTag className="ml-6">{'</form>'}</DecTag>
    </VerticalFrame>
</section>
