---
import { DecTag } from '@nilswg-site/ui';
import SectionTexts from '@/components/SectionTexts.astro';
import SkillsBoard from '@/components/SkillsBoard.astro';
---

<section id="skills" class="bg-myblack w-full py-navbar">
    <div class="w-full 2xl:flex 2xl:flex-row 2xl:justify-center">
        <div class="2xl:flex 2xl:w-2/5 2xl:flex-row 2xl:justify-end">
            <div class="max-w-3xl">
                <SectionTexts
                    i18nKeys={{
                        title: 'home:skills.title',
                        texts: 'home:skills.texts',
                    }}
                />
            </div>
        </div>
        <div class="2xl:w-3/5 2xl:pt-10">
            <DecTag className="ml-6">{'<div class="grid">'}</DecTag>
            <SkillsBoard />
            <DecTag className="ml-6">{'</div>'}</DecTag>
        </div>
    </div>
</section>
