---
import { $pageTitle } from '@/lib/pageTitle';
import { PageLoader } from '@nilswg-site/ui';
import Toasts from '@nilswg-site/ui/Toasts';
import { setDefaultNamespace, t } from 'i18next';
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
// import ToastsDebugger from '@nilswg-site/ui/ToastsDebugger';
import '../index.css';

setDefaultNamespace('common');

const lang = t('common:lang');
const title = `Nilswg - ${$pageTitle(Astro.url.pathname)}`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Nilswg's portfolio website" />
        <link rel="preload" as="image" href="/nilswg-blue-noblack-min.svg" fetchpriority="high" />
        <title>{title}</title>
    </head>
    <body class="bg-slate-800">
        <Navbar lang={lang} />
        <main class="w-full">
            <slot />
        </main>
        <Footer />
        <PageLoader client:idle />
        <Toasts client:load />
        <!-- <ToastsDebugger client:load /> -->
    </body>
</html>
