---
import { t, setDefaultNamespace } from 'i18next';
import { Navbar } from '@/components/Navbar';
import PageLoader from '@/components/PageLoader';
import Footer from '../components/Footer.astro';
import { $pageTitle } from '../lib/pageTitle';
import '../index.css';

setDefaultNamespace('common');

const navItems = [
    { href: '/', text: t('nav.home') },
    { href: '/#projects', text: t('nav.projects') },
    { href: '/#contact', text: t('nav.contact') },
    { href: '/blog', text: t('nav.blog') },
];

const lang = t('lang');
const title = `Nilswg - ${$pageTitle(Astro.url.pathname)}`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Nilswg's portfolio website" />
        <title>{title}</title>
    </head>
    <body class="bg-slate-800">
        <Navbar client:visible />
        <main class="w-full"><slot /></main>
        <Footer />
        <PageLoader client:idle />
    </body>
</html>
