---
import Layout from "@/layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import Opening from "@/feats/Opening.astro";

changeLanguage("zh-TW");
---

<Layout title={'i18n_' + t('lang')}>
    <div class="mt-[var(--navbar-height)]">
        <h1 class="tags ml-4 text-xl leading-10">{'<html>'}</h1>
        <h1 class="tags ml-6 text-xl leading-10">{'<body>'}</h1>
        <Opening />
        
        <!-- <Example /> -->
        <h1 class="tags ml-6 text-xl leading-10">{'</body>'}</h1>
        <h1 class="tags ml-4 text-xl leading-10">{'</html>'}</h1>
    </div>
</Layout>
