---
import { SectionText, SectionTitle } from '@nilswg-site/ui';
import { t } from 'i18next';
import Trans from './Trans.astro';

type Props = {
    i18nKeys: {
        title: string;
        texts: string;
    };
};

const { i18nKeys } = Astro.props as Props;

const lang = t('common:lang');
---

<SectionTitle lang={lang} text={t(i18nKeys.title)} client:load/>
<SectionText lang={lang}>
    <p>
        <Trans i18nKey={i18nKeys.texts} isArray>
            I'm a <b class="font-bold text-white">2.5 years</b> ...
        </Trans>
    </p>
</SectionText>
